.order-items {
  margin-top: 60px;
}

.order-items-table-container {
  overflow: auto;

  #order-items-table {
    background-color: white;

    tr {
      th,
      td {
        white-space: nowrap;
      }
    }
  }
}
